<div class="grid">
    <div class="col-12">
        <div class="card" >
            <h4>Liste des Factures</h4>

            <p-dataView #dv [value]="factures" [paginator]="true" [rows]="9" filterBy="reference,echeance,statut,ttc" [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
                <ng-template pTemplate="header">
                    <div class="grid grid-nogutter flex-column md:flex-row justify-content-between">
                        <button pButton pRipple label="Créer"  icon="pi pi-plus" class="p-button p-button-success" (click)="goPlaces()"></button>
                        <p-dropdown [options]="sortByPrice" placeholder="Trier par Total" (onChange)="onSortByPrice($event)"></p-dropdown>
                        <p-dropdown [options]="sortByEtat" placeholder="Trier par Etat" (onChange)="onSortByEtat($event)"></p-dropdown>
                        <span class="p-input-icon-left mb-2 md:mb-0">
                            <i class="pi pi-search"></i>
                            <input type="search" pInputText placeholder="Rechercher..." (input)="onFilter(dv, $event)">
                        </span>
                        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                    </div>

                </ng-template>

                <ng-template let-facture pTemplate="listItem">
                    <div class="col-12">
                        <div class="flex flex-column md:flex-row align-items-center p-3 w-full">
                            <div class="flex-1 text-center md:text-left">
                                <div class="font-bold text-2xl"> {{facture.reference}}</div>
                                <div class="mb-3"> Client : {{facture.client.raison || facture.client.nom}}</div>

                                <div class="flex align-items-center mt-2">
                                    <span [class]="'product-badge status-lowstock'">{{facture.statut}}</span>
                                </div>
                            </div>
                            <div class="flex flex-row md:flex-column justify-content-between w-full md:w-auto align-items-center md:align-items-end mt-5 md:mt-0">
                                <span class="text-2xl font-semibold mb-2 align-self-center md:align-self-end"> Total : ${{facture.ttc}}</span>
                                <div>
                                    <p-button icon="pi pi-download" (click)="open(facture)" label="Télécharger" class=" p-button-success mr-2 mb-2"></p-button>
                                    <p-button icon="pi pi-exclamation-circle" label="détail" class=" p-button-help" (onClick)="details(facture)"></p-button>

                                </div>

                            </div>
                        </div>
                    </div>
                </ng-template>

                <ng-template let-facture pTemplate="gridItem">
                    <div class="col-12 md:col-4">
                        <div class="card m-3 border-1 surface-border">
                            <div class="flex align-items-center justify-content-between">
                                <div class="flex align-items-center">
                                    <i class="pi pi-tag mr-2"></i>
                                    <span class="font-semibold">Client : {{facture.client.raison || facture.client.nom}}</span>
                                </div>
                                <span [class]="'sm:ml-2 product-badge status-lowstock'">{{facture.statut}}</span>
                            </div>
                            <div class="text-center">
                                <div class="text-2xl font-bold">{{facture.reference}}</div>
                                <div class="mb-3">Date d'echeance: {{facture.echeance}}</div>
                            </div>
                            <div class="flex align-items-center justify-content-between">
                                <span class="text-2xl font-semibold"> Total : ${{facture.ttc}}</span>
                                <div >
                                    <p-button icon="pi pi-download" (click)="open(facture)" class=" p-button-help mr-2"  ></p-button>
                                    <p-button icon="pi pi-exclamation-circle" class=" p-button-help" (onClick)="details(facture)"></p-button>
                                </div>
                            </div>

                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </div>
    </div>
</div>
<p-dialog [(visible)]="telechargertDialog" [style]="{width: '60%', height: '80%'}" header="Selectionner Modéle " [modal]="true" class="p-fluid">


    <ng-template pTemplate="content">


                    <p-carousel [value]="user.entreprise.modeles" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="carouselResponsiveOptions">
                        <ng-template let-modele pTemplate="item">
                                <div class="border-round m-1 text-center p-2" style="cursor: pointer ;border: 1px solid var(--surface-d)">
                                    <div class="my-4">
                                        <pdf-viewer [src]="modele.pdf"
                                        [render-text]="true"
                                        [original-size]="false"
                                        style="width: 100%; height: 300px"
                                            ></pdf-viewer>
                                    </div>
                                    <div>
                                        <h5 class="mb-1">{{modele.nom_modelep}}</h5>

                                        <div  class="justify-content: center">
                                        <button pButton pRipple style="width:70% ;" (click)="generer(modele)" label="Selectionner" class=" p-button-success"></button>

                                        </div>
                                    </div>
                                </div>
                        </ng-template>
                    </p-carousel>

    </ng-template>

</p-dialog>
