<div class="col-12 md:col-12">
    <div class="card p-fluid">
        <h5> Changer Mot De passe</h5>
        <div class="formgrid grid">
            <div class="field col-6">
                <label htmlFor="name1">Ancien mot de passe</label>
                <p-password id="password1"  placeholder="Ancien mot de passe" [toggleMask]="true" styleClass="w-full mb-3"></p-password>
            </div>
           
        </div>

        <div class="formgrid grid">
            <div class="field col-6">
                <label htmlFor="name1">Nouveau mot de passe</label>
                <p-password id="password1"  placeholder="Nouveau mot de passe" [toggleMask]="true" styleClass="w-full mb-3"></p-password>            
            </div>
           
        </div>
        <div class="formgrid grid">
            <div class="field col-6">
                <label htmlFor="name1">Confirmation mot de passe</label>
                <p-password id="password1"  placeholder="Confirmation  mot de passe" [toggleMask]="true" styleClass="w-full mb-3"></p-password>           
             </div>
           
        </div>
        
    </div>    
        
        
        <div class="formgrid grid">
            <div class="field col-6">
                <button pButton pRipple label="Modifier"  class="p-button-secondary" ></button>
                    
            </div>
            <div class="field col-6">
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-secondary" ></button>
            </div>
           
            </div>
        

           
           
        </div>