  <div class="grid p-fluid">
    <div class="col-12">
        <div class="card">
            <div  style="display: flex; justify-content:space-between;">
                <h5>LES MODELES DISPONIBLE </h5>
                <button pButton pRipple label="Ajouter" style="width: 10%;" icon="pi pi-plus" class=" mr-1" (click)="openNew()" ></button>

            </div>
            <p-carousel [value]="user.entreprise.modeles" [numVisible]="3" [numScroll]="3" [circular]="false" [responsiveOptions]="carouselResponsiveOptions">
                <ng-template let-mod pTemplate="item">
                        <div class="border-round m-1 text-center p-2" style="border: 1px solid var(--surface-d)">
                            <div class="my-4">
                                <pdf-viewer [src]="mod.pdf"
                                [render-text]="true"
                                [original-size]="false"
                                style="width: 100%; height: 300px"
                                    ></pdf-viewer>
                            </div>
                            <div>
                                <h5 class="mb-1">{{mod.nom_modelep}}</h5>
                                <div class="my-7">
                                    <div></div>
                                    <button pButton pRipple icon="pi pi-trash" class="mr-2 p-button-rounded p-button-danger" (click)="delete(mod)"></button>
                                    <button pButton pRipple icon="pi bi bi-pencil-square" (click)="editModele(mod)" class="mr-2 p-button-rounded p-button-success"></button>
                                    <button pButton pRipple icon="pi pi-download" class="p-button-rounded p-button-info mr-2" (click)="download(mod.blob, mod.nom_modelep)"></button>
                                    <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-help" (click)="open(mod.blob)"></button>

                                </div>
                            </div>
                        </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>
  </div>

    <p-dialog [(visible)]="display" [style]="{width: '90%', height: '80%'}" header="créer votre propre modéle" [modal]="true" class="p-fluid">
        <ng-template pTemplate="content">
            <div class="formgrid grid">
                <div class="field col">
                    <label for="name">Nom du modèle  </label>
                    <input type="text" pInputText id="name" [(ngModel)]="modele.nom_modelep" required autofocus
                        placeholder="Nom du modèle" [ngClass]="{'ng-invalid ng-dirty' : submitted && !modele.nom_modelep}" />
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !modele.nom_modelep">Nom required.</small>
                </div>
                <div class="field col">
                        <label for="name"> Description </label>
                        <textarea id="adress1" pInputTextarea placeholder="Description...."  required rows="1" cols="20" [(ngModel)]="modele.description"></textarea>
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col-4">
                    <label for="status">Position de Logo </label>
                    <p-dropdown id="position" [options]="statuses" [(ngModel)]="modele.position"
                        placeholder="Select ">
                    </p-dropdown>
                </div>

             </div>

                <div class="formgrid grid">
                    <div class="field col-2">
                        <label for="dropdown">Taille titres corps</label>
                        <p-dropdown placeholder="Select " inputId="dropdown" [autoDisplayFirst]="false" [options]="tailles" [(ngModel)]="modele.taill_titre_corps" ></p-dropdown>
                    </div>
                    <div class="field col-2">
                        <label for="dropdown">Taille texte corps </label>
                        <p-dropdown placeholder="Select " inputId="dropdown" [autoDisplayFirst]="false" [options]="tailles" [(ngModel)]="modele.taill_txt_corps" ></p-dropdown>
                    </div>
                    <div class="field col-2">
                        <label for="dropdown">Taille Nom d'entreprise </label>
                        <p-dropdown placeholder="Select " inputId="dropdown" [autoDisplayFirst]="false" [options]="tailles" [(ngModel)]="modele.taill_titre_entt" ></p-dropdown>
                    </div>
                    <div class="field col-2">
                        <label for="dropdown">Taille texte entête </label>
                        <p-dropdown placeholder="Select " inputId="dropdown" [autoDisplayFirst]="false" [options]="tailles" [(ngModel)]="modele.taill_txt_entt" ></p-dropdown>
                    </div>
                    <div class="field col-2">
                        <label for="dropdown">Taille Pied </label>
                        <p-dropdown placeholder="Select " inputId="dropdown" [autoDisplayFirst]="false" [options]="tailles" [(ngModel)]="modele.taill_bas" ></p-dropdown>
                    </div>
                    <div class="field col-2">
                        <label for="dropdown">Taille Totale / Reste</label>
                        <p-dropdown placeholder="Select " inputId="dropdown" [autoDisplayFirst]="false" [options]="tailles" [(ngModel)]="modele.taill_total" ></p-dropdown>
                    </div>
                </div>
                <!-- <div class="formgrid grid">
                    <div class="field col-2">
                        <label for="dropdown">Police titres corps</label>
                        <p-dropdown placeholder="Select " inputId="dropdown" [autoDisplayFirst]="false" [options]="polices" [(ngModel)]="modele.pl_titre_corps" optionLabel="police"></p-dropdown>

                        <select class="form-select" aria-label="Default select example" [(ngModel)]="modele.pl_titre_corps"   >
                            <option value="Arial, sans-seri" id="A1" >Arial, sans-serif</option>
                            <option value="Courier" id="A2">Courier</option>
                            <option value="Courier" id="A3">Courier</option>
                            <option value="Impact" id="A4">Impact</option>
                            <option value="Marker Felt" id="A5">Marker Felt </option>
                            <option value="Trebuchet MS" id="A6">Trebuchet MS </option>
                            <option value="Verdana" id="A7">Verdana </option>
                            <option value="Garamond" id="A8">Garamond </option>
                            <option value="Georgia" id="A9">Georgia </option>
                            <option value="Times New Roman" id="A10">Times New Roman </option>
                            <option value="monospace" id="A11"> monospace</option>
                            <option value="Brush Script MT" id="A12">Brush Script MT (cursive)</option>
                          </select>
                    </div>
                    <div class="field col-2">
                        <label for="dropdown">Police texte corps </label>
                        <p-dropdown placeholder="Select " inputId="dropdown" [autoDisplayFirst]="false" [options]="polices" [(ngModel)]="modele.pl_txt_corps" ></p-dropdown>
                    </div>
                    <div class="field col-2">
                        <label for="dropdown">Police titres entête </label>
                        <p-dropdown placeholder="Select " inputId="dropdown" [autoDisplayFirst]="false" [options]="polices" [(ngModel)]="modele.pl_titre_entt"></p-dropdown>
                    </div>
                    <div class="field col-2">
                        <label for="dropdown">Police texte entête </label>
                        <p-dropdown placeholder="Select " inputId="dropdown" [autoDisplayFirst]="false" [options]="polices" [(ngModel)]="modele.pl_txt_entt" ></p-dropdown>
                    </div>
                    <div class="field col-2">
                        <label for="dropdown">Police bas </label>
                        <p-dropdown placeholder="Select " inputId="dropdown" [autoDisplayFirst]="false" [options]="polices" [(ngModel)]="modele.pl_bas"></p-dropdown>
                    </div>
                    <div class="field col-2">
                        <label for="dropdown">Police Totale </label>
                        <p-dropdown placeholder="Select " inputId="dropdown" [autoDisplayFirst]="false" [options]="polices" [(ngModel)]="modele.pl_total" ></p-dropdown>
                    </div>
                </div> -->
                <div class="formgrid grid">
                    <div class="field col-2">
                        <label for="Couleur des titres corps">Couleur titres corps </label>
                        <input type="color" value="#000000" [(ngModel)]="modele.cl_titre_corps" />

                        <!-- <p-colorPicker id="Couleur texte corps" [(ngModel)]="modele.cl_titre_corps"></p-colorPicker> -->
                    </div>
                    <div class="field col-2">
                        <label for="Couleur texte corps">Couleur texte corps</label>
                        <input type="color" value="#000000" [(ngModel)]="modele.cl_txt_corps" />

                        <!-- <p-colorPicker id="Couleur texte corps"  [(ngModel)]="modele.cl_txt_corps"></p-colorPicker> -->
                    </div>
                    <div class="field col-2">
                        <label for="Couleur des titres entête">Couleur nom d'entreprise</label>
                        <input type="color" value="#000000" [(ngModel)]="modele.cl_titre_entt" />
                        <!-- <p-colorPicker id="Couleur des titres entête"  [(ngModel)]="modele.cl_titre_entt" ></p-colorPicker> -->
                    </div>
                    <div class="field col-2">
                        <label for="CouleurTexteEntête">Couleur texte haut</label>
                        <input type="color" value="#000000" [(ngModel)]="modele.cl_txt_entt" />
                        <!-- <p-colorPicker id="CouleurTexteEntête"  [(ngModel)]="modele.cl_txt_entt"></p-colorPicker> -->
                    </div>
                    <div class="field col-2">
                        <label for="Coleur templatee" >Coleur  template</label>
                        <input type="color" value="#000000" [(ngModel)]="modele.cl_template" />
                        <!-- <p-colorPicker id="Coleur template" [(ngModel)]="modele.cl_template" ></p-colorPicker> -->
                    </div>
                    <div class="field col-2">
                        <label for="coleur Totale" >coleur  pour Totale</label>
                        <input type="color" value="#000000" [(ngModel)]="modele.cl_total" />
                        <!-- <p-colorPicker id="coleur Totale" [(ngModel)]="modele.cl_total"  ></p-colorPicker> -->
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col-2">
                        <label for="coleurBas">Couleur pied</label>

                        <input type="color" value="#000000" [(ngModel)]="modele.cl_bas" />
                        <!-- <p-colorPicker id="coleurBas" [(ngModel)]="modele.cl_bas" ></p-colorPicker> -->
                    </div>
                    <div class="field col">
                        <label for="name"> Pied </label>
                        <textarea id="adress1" pInputTextarea placeholder="Pied...."  required rows="1" cols="20" [(ngModel)]="modele.pied"></textarea>
                </div>
                </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Sauvegarde" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
            <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>

        </ng-template>
    </p-dialog>







